@charset "utf-8";

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #ffffff !default;
$brand-color:      #aaddff !default;
$brand-color2:       #88ccff !default;

$grey-color:       #555555 !default;
$grey-color-light: #bfbfbf !default;
$grey-color-light2: #999999 !default;
$grey-color-dark:  #333333 !default;

$yellow-color:     #ffee33;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@import
"devnotes/font",
"devnotes/base",
"devnotes/layout",
"devnotes/syntax-highlighting";
