/** Reset paddings for some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, figure {
    padding: 0;
}

/** Reset margins for basic elements
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin:  0;
    /* Set `margin-bottom` to maintain vertical rhythm */
    margin-bottom: $spacing-unit / 2;
}

/** Clearfix
 */
%clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/** Basic styling
 */
body {

    font-weight:    $base-font-weight;
    font-size:      $base-font-size;// #{$base-font-size}/#{$base-line-height};
    font-family:    $base-font-family;
    letter-spacing: $base-letter-spacing;
    line-height: $base-line-height;

    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings:    "kern" 1;
    -o-font-feature-settings:      "kern" 1;
    font-feature-settings:         "kern" 1;
    font-kerning:   normal;

    min-height:     100vh;
    margin: 0;
    color: $text-color;
    background-color: $background-color;
    display:        flex;
    flex-direction: column;
}

/** `main` element
 */
main {
    /* Default value of `display` of `main`
       element is 'inline' in IE 11. */
    display: block;
}

/**
 * Links
 */
a {
    color: darken($brand-color2, 25%);
    text-decoration: none;

    &:visited {
        color: darken($brand-color2, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }

    .social-media-list &:hover {
        text-decoration: none;

        .username {
            text-decoration: underline;
        }
    }
}

.social-media-list .username{
    font-size: 16px;
}

/** code
 */
pre, code{
    font: $code-font-weight #{$code-font-size}/#{$code-line-height} $code-font-family, monospace;
    overflow: auto;
}

pre{
    padding: 5px;
}

/** Headers
 */
h1, h2, h3, h4, h5, h6{
    color: $grey-color-dark;
    font-family: $header-font-family;
    font-weight: $header-font-weight;
    line-height: $header-line-height;
}

h1{
    color: $brand-color2;
    font-size: 38px;
    //    line-height: 1;
}

/** Site Title
 */

.site-header.home .site-title{
    font-size: 145px;
    line-height: 1;
    margin: 0;
    padding: 0;

    @include media-query($on-palm){
        font-size: 55px;
        font-size: 17vw;
        margin-left: 0.4em;
    }
}

.site-title,
.site-title:hover,
.site-title:visited{
    font-family: $title-font-family, sans-serif;
    font-size: 48px;
    font-weight: $title-font-weight;
    text-decoration: none;
    letter-spacing: -0.04em;
    line-height: 1;
    color: $brand-color;
    padding-left: 10px;
}

.site-title .title-cursor{
    //    color: #dddddd;
    font-family: $code-font-family;
    margin-bottom: 5px;
    animation: 1s blinker linear infinite;
    -webkit-animation: 1s blinker linear infinite;
    -moz-animation: 1s blinker linear infinite;

    @-moz-keyframes blinker {
        0%   { opacity: 1.0; }
        50%  { opacity: 0.0; }
        100% { opacity: 1.0; }
    }

    @-webkit-keyframes blinker {
        0%   { opacity: 1.0; }
        50%  { opacity: 0.0; }
        100% { opacity: 1.0; }
    }

    @keyframes blinker {
        0%   { opacity: 1.0; }
        50%  { opacity: 0.0; }
        100% { opacity: 1.0; }
    }
}

hr.home-hr{
    margin: 2px 0;
    color: $grey-color-light;
}

/**
 * Icons
 */

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #{$grey-color};
    padding-right: 2px;
    vertical-align: text-top;
    margin-top: 4px;
}

.social-media-list {
    li + li {
        padding-top: 0px;
    }
}

/** Posts
 */

.post-meta{
    font-size: 14px;
    font-family: $title-font-family;
    font-weight: 400;
    color: $grey-color;
    line-height: 1.45;
}

.post-link{
    color: $brand-color2;
    text-decoration: none;
}

.post-link:hover{
    text-decoration: underline;
}

.post hr{
    border-color: $yellow-color;
    border-style: solid;
    //    border-radius: 3px;
}

.post-hr{
    border-width: 5px;
    margin: 0;
}

.post-list-heading{
    background-color: $yellow-color;
    margin: 0;
    padding: 8px 10px;
    color: $grey-color;
    font-size: 24px;
    //    font-family: $title-font-family;
}

.post-list{
    //   background-color: $yellow-color-light;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid $yellow-color;
}

.post-list > li{
    border-top: 1px solid $yellow-color;
    margin: 0px;
    padding: 10px 10px 5px;
}

.post-list .post-container{
    display: flex;
    flex-direction: row;
}

.post-list .post-meta{
    min-width: 90px;
    padding: 0;
    margin: 0;

    @include media-query($on-palm){
        font-size: 12px;
        min-width: 50px;
    }
}

.post-list .post{
    flex: auto;
    min-width: 90%;
    padding: 0;
    margin: 0;
}

.post-list .post .post-full-link{
    font-family: $header-font-family;
    text-align: center;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.post-list .post .post-full-link a{
    color: $brand-color;
}

.post-list .post h3{
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.post-list .post h3 a{
    color: $brand-color2;
    background-color: $grey-color;
    padding: 0 2px;

    &:hover{
        color: darken($brand-color2, 25%);
        background-color: $grey-color-light;
    }
}

.post-list .post .post-excerpt{
    padding: 10px 0 0 0;
    font-size: 16px;

    @include media-query($on-palm){
        font-size: 14px;

        pre, code{
            font-size: 12px;
        }
    }

    ul, ol{
        padding: 0.5em 1.5em;
        margin: 0;
    }
}

.post-header .post-meta{
    margin-top: -5px;
}

.post-title .post-title-text{
    background: $grey-color;
    line-height: 1.15;
    padding: 0 2px;
}
