/** Reset paddings for some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, figure {
    padding: 0;
}

/** Reset margins for basic elements
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin:  0;
    /* Set `margin-bottom` to maintain vertical rhythm */
    margin-bottom: $spacing-unit / 2;
}

/** Clearfix
 */
%clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/** Basic styling
 */
body {

    font-weight:    $base-font-weight;
    font-size:      $base-font-size;// #{$base-font-size}/#{$base-line-height};
    font-family:    $base-font-family;
    letter-spacing: $base-letter-spacing;
    line-height: $base-line-height;

    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings:    "kern" 1;
    -o-font-feature-settings:      "kern" 1;
    font-feature-settings:         "kern" 1;
    font-kerning:   normal;

    min-height:     100vh;
    margin: 0;
    color: $text-color;
    background-color: $background-color;
    display:        flex;
    flex-direction: column;
}

/** Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right:  auto;
    margin-left:   auto;
    padding-right: $spacing-unit;
    padding-left:  $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

/** `main` element
 */
main {
    /* Default value of `display` of `main`
       element is 'inline' in IE 11. */
    display: block;
}

/**
 * Links
 */
a {
    color: darken($brand-color2, 25%);
    text-decoration: none;

    &:visited {
        color: darken($brand-color2, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }

    .social-media-list &:hover {
        text-decoration: none;

        .username {
            text-decoration: underline;
        }
    }
}

.social-media-list .username{
    font-size: 16px;
}

/** code
 */
pre, code{
    font: $code-font-weight #{$code-font-size}/#{$code-line-height} $code-font-family, monospace;
    overflow: auto;
}

pre{
    padding: 5px;
}

/** Headers
 */
h1, h2, h3, h4, h5, h6{
    color: #333333;
    font-family: $header-font-family;
    font-weight: $header-font-weight;
    line-height: $header-line-height;
}

h1{
    color: $brand-color2;
    font-size: 38px;
    line-height: 1;
}

/** Site Title
 */

.site-header.home .site-title{
    font-size: 144px;

    @include media-query($on-palm){
        font-size: 72px;
    }
}

.site-title,
.site-title:hover,
.site-title:visited{
    font-family: $title-font-family, sans-serif;
    font-size: 48px;
    font-weight: $title-font-weight;
    text-decoration: none;
    letter-spacing: -0.04em;
    color: $brand-color;
}

.site-title .title-cursor{
    font-family: $code-font-family;
    margin-bottom: 5px;
    animation: 1s blinker linear infinite;
    -webkit-animation: 1s blinker linear infinite;
    -moz-animation: 1s blinker linear infinite;

    @-moz-keyframes blinker {
        0%   { opacity: 1.0; }
        50%  { opacity: 0.0; }
        100% { opacity: 1.0; }
    }

    @-webkit-keyframes blinker {
        0%   { opacity: 1.0; }
        50%  { opacity: 0.0; }
        100% { opacity: 1.0; }
    }

    @keyframes blinker {
        0%   { opacity: 1.0; }
        50%  { opacity: 0.0; }
        100% { opacity: 1.0; }
    }
}

/**
 * Icons
 */

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #{$grey-color};
    padding-right: 2px;
    vertical-align: text-top;
    margin-top: 4px;
}

.social-media-list {
    li + li {
        padding-top: 0px;
    }
}

/** Posts
 */

.post-list-heading{
    background-color: #ffed33;
    margin: 0;
    padding: 8px 10px;
    color: #777777;
    font-size: 24px;
    //    font-family: $title-font-family;
}

.post-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    // border-top: 3px solid #ffed99;
    border-bottom: 1px solid #ffed33;
}

.post-list li{
    border-top:    1px solid #ffed33;
    margin-bottom: 0px;
    padding: 5px 10px;
    display: flex;
}

.post-list h3{
    flex-direction: column;
    width: 88%;
    font-size: 18px;
    margin: 0;
}

.post-list .post-meta{
    flex-direction: column;
    width: 12%;
}

.post-list h3 a{
    color: $brand-color;
    background-color: #777;
    padding: 0 2px;

    &:hover{
        color: $brand-color2;
        background-color: #CCC;
    }
}

.post-meta{
    font-size: 14px;
    font-family: $title-font-family;
    font-weight: 400;
    color: #777777;
}

.post-link{
    color: $brand-color2;
    text-decoration: none;
}

.post-link:hover{
    text-decoration: underline;
}

.post hr{
    border-color: #ffed66;
    border-style: solid;
    //    border-radius: 3px;
}

.post-hr{
    border-width: 5px;
    margin: 0;
}

.post-title-hr1{
    border-width: 3px;
}

.post-title-hr2{
    border-width: 1px;
    margin-top: -7px;
}

.post-title-hr3{
    border-width: 1px;
}

.post-title-hr4{
    border-width: 3px;
    margin-top: -7px;
}

.post-header .post-meta{
    margin-top: -5px;
}
