<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
    <div class="site-header home" role="banner">
      <div class="wrapper">
        <h1 class="site-title">{{ site.title | escape }}<span class="title-cursor">_</span></h1>
      </div>
    </div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <hr class="home-hr" />
        <div class="home">
          {% if page.title -%}
          <h1 class="page-heading">{{ page.title }}</h1>
          {%- endif -%}

          {{ content }}

          {%- if site.posts.size > 0 -%}
          <h2 class="post-list-heading">-- posts -----</h2>
          <ul class="post-list">
            {%- for post in site.posts -%}
            <li>
              <div class="post-container">
                <div class="post-meta">
                  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                  {{ post.date | date: date_format }}
                </div>
                <div class="post">
                  <h3>
                    <a class="post-link" href="{{ post.url | relative_url }}">
                      {{ post.title | escape }}
                    </a>
                  </h3>
                  {%- if site.show_excerpts -%}
                  <div class="post-excerpt">
                    {%- if post.content contains site.excerpt_separator -%}
                    {{ post.excerpt }}
                    <p class="post-full-link">
                      <a href="{{ post.url | relative_url }}">-- continue reading --</a>
                    </p>
                    {%- else -%}
                    {{ post.content }}
                    {%- endif -%}
                  </div>
                  {%- endif -%}
                </div>
              </div>
            </li>
            {%- endfor -%}
          </ul>
          {%- endif -%}
        </div>
      </div>
    </main>
    {%- include footer.html -%}
  </body>
</html>
